<!-- Kim T. DIAZ, Mara T. CHUA, Camille VENTOSO -->
{% extends 'layout.html' %}

{% block content %}
<div id="homeContainer">
    <div class="centered">
        <h1 id="hammer">GET WASHIN'</h1>
        <p>Your guide to the new web-based management system for Labadero Laundry.</p>
        <a href="https://labadero.chmsubsit3a.com/" target="_blank"><button class="homeButton">App</button></a>
        <button class="homeButton" onclick="window.location.href='/manual'">User Manual</button>
    </div>
</div>
{% endblock %}