<!-- Kim T. DIAZ, Mara T. CHUA, Camille VENTOSO -->
<div id="manualNav">
    <h3>NAVIGATION</h3>
    <ul class="navList" id="parentList">
        <li><a href="#adminParent"><p>Admin (Desktop)</p></a>
            <ul class="navList">
                <li><a href="#adminDash">Admin dashboard</a></li>
                <li><a href="#accountMgmt">Accounts management</a></li>
                <li><a href="#transHistory">Transaction history</a></li>
                <li><a href="#invMgmt">Inventory management</a></li>
                <li><a href="#transTypes">Transaction types</a></li>
            </ul>
        </li>
        <li><a href="#staffParent"><p>Staff (Desktop)</p></a>
            <ul class="navList">
                <li><a href="#staffDash">Staff dashboard</a></li>
                <li><a href="#proTrans">Processing transactions</a></li>
                <li><a href="#delTrans">Delivery transactions</a></li>
            </ul>
        </li>
        <li><a href="#riderParent"><p>Rider (Mobile)</p></a>
            <ul class="navList">
                <li><a href="#riderDash">Rider dashboard</a></li>
                <li><a href="#riderDelTrans">Delivery transactions</a></li>
            </ul>
        </li>
        <li><a href="#clientParent"><p>Client (Mobile)</p></a>
            <ul class="navList">
                <li><a href="#clientDash">Client home page</a></li>
                <li><a href="#clientMap">Address</a></li>
                <li><a href="#clientOrder">Order</a></li>
                <li><a href="#clientDetails">Details</a></li>
            </ul>
        </li>
    </ul>
</div>